include modals

script(src='/js/lib/jquery-1.9.1.min.js', type='text/javascript', charset='utf-8')
script(src='/js/lib/underscore-min.js', type='text/javascript', charset='utf-8')
script(src='/js/lib/bootstrap.min.js', type='text/javascript', charset='utf-8')
script(src='/js/lib/google-analytics.js', type='text/javascript', charset='utf-8')
script(src='/js/smc-script.js', type='text/javascript', charset='utf-8')