include modals

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', type='text/javascript', charset='utf-8')
script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js', type='text/javascript', charset='utf-8')
script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js', type='text/javascript', charset='utf-8')
script(src='/js/smc-script.js', type='text/javascript', charset='utf-8')
script(src='/js/google-analytics.js', type='text/javascript', charset='utf-8')