<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SpendMyCents.com FAQ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="../public/css/style.css" type="text/css">
    </head>
    <body>
        <div class="qa-block">
            <div class="question">
                When I go to Amazon it shows the item at a different price than I entered. Why?
            </div>
            <div class="answer">
                If you look around that product, you will find that one of the specific items is actually for sale at the price you entered. Amazon will let us search on listed price only.
            </div>
        </div>
        <script src="../public/lib/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="../public/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>