#footer.container
  hr
  #social-media
    div Share Spend My Cents:
    a.share.zocial.icon.facebook(href='http://www.facebook.com/sharer.php?u=http://www.spendmycents.com', title='Share with your friends', target='_blank')
    | 
    a.share.zocial.icon.googleplus(href='http://plus.google.com/share?url=http://www.spendmycents.com', title='Share with your circles', target='_blank')
    | 
    a.share.zocial.icon.twitter(href='http://www.twitter.com/share?url=www.spendmycents.com', title='Tweet this to your followers', target='_blank')
    | 
    a.share.zocial.icon.linkedin(href='http://www.linkedin.com/cws/share?url=www.spendmycents.com', title='Share this with your connections', target='_blank')
    | 
    a.share.zocial.icon.pinterest(href='http://pinterest.com/pin/create/button/?url=http://www.spendmycents.com', title='Pin this for your followers', target='_blank')
    | 
    a.share.zocial.icon.email(href='mailto:?subject=Spend%20My%20Cents&body=www.spendmycents.com', title='Email this to your friends', target='_blank')
  a(href='#faq-modal', data-toggle='modal') FAQ
  |  &nbsp; | &nbsp;
  a(href='mailto:info@spendmycents.com') Contact Us
