#faq-modal.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    h3 Spend My Cents FAQ
  .modal-body
    .qa-block
      .question When I go to Amazon sometimes the list price is different from the price I entered. Why?
      .answer If you look around that product, you will find that one of the specific items is actually for sale at the 
        | price you entered. Amazon will not let us search on only listed price.
    .qa-block
      .question Why is it that sometimes I see a lot of the same product?
      .answer Actually, if you look at the product on Amazon, you'll find it's slightly different. At least, it's a 
        | different product on Amazon. We have limited control over what Amazon's sending us based on your query, but 
        | if you feel like we could do better, don't hesitate to 
        a(href='mailto:info@spendmycents.com', target='_blank') contact us
        | .
    .qa-block
      .question So, your search bar and the buttons don't really line up that well... What gives?
      .answer We've only recently been made aware that in some cases when using Firefox, Safari (sometimes) and Internet Explorer, users have a less than ideal experience in that regard. We'll be working on a fix. For now, try using 
      a(href='http://www.google.com/chrome', target='_blank') Google Chrome 
      | :)
    .qa-block
      .question I love your web app! How can I help?
      .answer We actually are Amazon associates, so next time you need to spend money on amazon, make sure to find it through our site and click on our links. We'll get commission from anything purchased through our site.
      | And of course, if you would like, 
      a(href='mailto:info+donations@spendmycents', target='_blank') contact us 
      | to make 
      a(href='http://www.google.com/wallet/send-money/', target='_blank') a donation 
      | :)
    .qa-block
      .question Who are you guys?
      .answer We're 
        a(href='https://plus.google.com/116057372925539820462', target='_blank') Mack
        |  and 
        a(href='https://plus.google.com/114245123507194646768', target='_blank') Kent
        | ! We made this as part of a school project. We're studying at 
        a(href='http://www.byu.edu', target='_blank') BYU
        |  to get our Masters of Information Systems Management. And we're both 
        a(href='http://www.mormon.org', target='_blank') Mormons
        | .
    .qa-block
      .question I love your app and have a recommendation! What do I do?
      .answer We're glad you love our app! Please send all suggestions to our 
        a(href='mailto:info+suggestion@spendmycents.com', target='_blank') suggestion box
        | . Thanks for the feedback!
    .qa-block
      .question I have a question not answered here, how do I get a hold of you guys?
      .answer Email us at 
        a(href='mailto:info@spendmycents.com', target='_blank') info@spendmycents.com
  .modal-footer
    a.btn(href='#', data-dismiss='modal') Close