.user-input.input-prepend.input-append
  span#span-dollar.add-on $
  //input#user-input-price.user-input(type='text', pattern='[0-9]+\.[0-9]{0,2}|[0-9]+|favorites|Favorites')
  input#user-input-price.user-input(type='text', pattern='[0-9]+\.[0-9]{0,2}|[0-9]+|\.[0-9]{0,2}')
  #search-button-group.btn-group.pull-right
    button#search-button.btn Search
    button#search-index-button.btn.dropdown-toggle(data-toggle='dropdown', data-search-index='All')
      | All
      span.caret
    ul#search-index-list.dropdown-menu
