head
    title SpendMyCents.com
    meta(name='title', content='Spend My Cents. Reverse Product Search.')
    meta(name='description', content='Reverse Product Search: search by price! Easily search Amazon by price. With the huge database of Amazon products, you will be surprised what you can find!')
    meta(name='keywords', content='search by price,search amazon by price,amazon search by price,reverse product search,search products by price,spend my cents,price,buy,search')
    meta(name='author', content='Kent Dodds and Mack Cope')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='./img/favicon.ico')
    link(rel='image_src', href='//www.spendmycents.com/thumbnail.png')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css', type='text/css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/lib/zocial/zocial.css', type='text/css')
    link(rel='stylesheet', href='/css/smc-styles.css', type='text/css')