<div class="products">
    <div ng-repeat="product in products" class='hover product-panel'>
        <div class='front'>      
            <img class="product-image thumb" ng-src="{{product.LargeImage[0].URL[0]}}">
            
        </div>
        <div class='back'>
            <br/>
            <span class='product-title'>{{product.ItemAttributes[0].Title[0]}}</span><br/>
            <span class='product-manufacturer'>{{product.ItemAttributes[0].Manufacturer[0]}}</span>
            <!-- <span class='product-price'>{{product.OfferSummary[0].LowestNewPrice[0].FormattedPrice[0]}}</span> -->
            <a href="{{product.DetailPageURL[0]}}">See on Amazon</a>
        </div>
        
    </div>
</div>